@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

.rwd-table {
  margin: 1em 0;
  min-width: 300px;  
}

tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
  
th {
  display: none; /  
}

td {
  display: block; 
}

th, td {
  text-align: left;

}


td&:first-child {
  padding-top: .5em;
}

td&:last-child {
  padding-bottom: .5em;
}

td&:before {
  content: attr(data-th)": "; 
  font-weight: bold;
  width: 6.5em; 
  display: inline-block;
}



body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #34495E;
}

.light-table-filter   {
  font-family: "Montserrat, sans-serif";
  font-weight: normal;
  padding: 10px;
  width: 600px
} 

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #fff;
}

.rwd-table {
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  
}

.rwd-table tr {
  border-color: lighten(#34495E, 10%);
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}

.rwd-table th, .rwd-table td:before {
  color: #dd5;
}

@media (min-width: 480px) {
  td {
    display: none;
  }

  td, th {
    display: table-cell;
    padding: .25em .5em;
  }

  td &:first-child, th &:first-child  {
    padding-left: 0;
  }
  
  td &:last-child, th &:last-child {
    padding-right: 0;
  }

  .rwd-table {
    padding: 1em !important; 
  }
}